html, body {
  height: 100%;
  width: 100%;
}
#outer{
  border:2px solid black;
  height:530px;
  width:317px;
  margin:260px auto;
  font-size:20px;
  text-align:center;
  background-color:black;
  border-radius:20px;
}
#table{
  margin:10px auto;
}
.button{
  height:65px;
  font-size:30px;
  width:65px;
  text-align:center;
  border-radius:30px;
  border:1px solid black;
}
#inputbox{
  height:40px;
  font-size:30px;
  margin-top:8px;
  width:280px;
}
.grey{
  background-color:#a6a6a6;
  color:#141414;
}
#img{
  padding-top:6px;
  padding-right:5px;
  height:32px;
  width:30px;
}
.orange{
  background-color:#ff9501;
  color:#fff9e6;
}
.black{
  background-color:#333333;
  color:#eaeaea;
}